.dashItemssidenav{
    list-style-type: none;
    /* display: flex;
    justify-content: flex-end; */
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    margin: 0;
    height: 100vh;
    background: rgb(204, 209, 205);
    z-index: 999;
}
.dashItemstopnav{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: calc(100% - 130px);
    top: 0;
    left: 115px;
    padding: 10px;
    padding-top: 10px;
    margin: 0;
    background: rgb(204, 209, 205);
}
.dashItemssidenav li a, .dashItemstopnav li a{
    color: white;
    text-decoration: none;
}
.dashItemssidenav li, .dashItemstopnav li{
    
    background-color: green;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;

}
.logoutBtn{
    background-color: green;
    border:none;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.link_style{

}
.staying{
    
}