.dashItemsCont{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}
.dashItemsCont li a{
    color: white;
    text-decoration: none;
}
.dashItemsCont li{
    
    background-color: green;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;

}
.logoutBtn{
    background-color: green;
    border:none;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}